h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    bottom: 20px;
    color: white;
    margin: 0;
}

#colorstrip{
    width: 100%; height: 10px;
    border-style: solid;
    border-color: #0000bf;
    background-color: #0000bf;
}

.navbar-inner {
    opacity: 0.8;
}

.content {
    padding-top: 20px;
}

/* Mobile first*/
body {
    padding-top: 60px;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../assets/images/10888.jpg);

    /* This will ensure everywhere is covered */
    background-size: cover;
}

/*rule for medium sized screens*/
@media only screen and (min-width: 400px) {
    body {

    }
}

/* rule for bigger screens*/
@media only screen and (min-width: 1190px) {
    body {

    }
}