body { padding-top: 70px; }

#colorstrip{
    width: 100%; height: 20px;
    border-style: solid;
    border-color: #0000bf;
    background-color: #0000bf;
}

#content {
    padding-top: 20px;
}

/* Mobile first*/
body {

}

/*rule for medium sized screens*/
@media only screen and (min-width: 400px) {
    body {

    }
}

/* rule for bigger screens*/
@media only screen and (min-width: 1190px) {
    body {

    }
}